body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    background: #0ABDF8;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: 1em 1em 1em #007da6;
}

.timer {
    background: #d6fffe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 18vw;
    border: 1px solid black;
    border-radius: 1em;
    select {
        background: transparent;
        padding-top: .2em;
    }
}

.timer .overlay {
    height: 12vh;
    width: 18vw;
    position: absolute;
}

.timer select {
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;    
    border-color: transparent;
    width: 57.6px;
    margin-bottom: .1em;
}

.timer.expired {
    select {
        color: red;
        animation: blinker 1s linear infinite;
    }
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        color: rgba(0, 0, 0, 0);
    }
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        width: 80%;
        margin: .1em;
    }
}

select {
/* for Firefox */
-moz-appearance: none;
/* for Chrome */
-webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
display: none;
}

